CompileFlags:
  CompilationDatabase: >-
    c:\Users\u0173601\OneDrive - Hogeschool
    VIVES\Vermogenselektronica\vermogenselektronica
    3\b-g474e-dpow1\Buck_VoltageMode\MDK-ARM\out\Buck_VoltageMode_HW\Buck_VoltageMode_HW
